<h2>Delete List</h2>
<h3><%= @list.name %></h3>
<form action="/lists/<%= @list.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>